# Ignores of some 3rd-party codes
node_modules/*
angular-*.js

# Swap file of VIM
*.swp
*.swa

# Below are common ignores
# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

# Logs and databases #
######################
*.log
